:host {
  position: relative;
  display: block;
  text-align: center; }

.chip {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 450px;
  padding: 20px;
  background: white;
  border-radius: 3px;
  margin: 20px; }
  .chip.wide {
    width: 750px; }
  .chip:hover .book {
    -webkit-transform: rotate3d(0.1, -0.2, 0.1, 35deg) scale(1.2);
            transform: rotate3d(0.1, -0.2, 0.1, 35deg) scale(1.2); }
  .chip:hover .cover {
    opacity: 1; }

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transition: opacity 0.5s ease; }
  .cover > * {
    line-height: 3rem; }
    .cover > *:first-child {
      margin-top: 30%; }
  .cover a, .cover span {
    display: inline-block;
    line-height: 1.5rem;
    margin: 0 0.5rem;
    font-weight: bold; }
  .cover a {
    color: white;
    text-decoration: none;
    margin: 0.5rem; }
    .cover a:after {
      content: '';
      display: block;
      width: 100%;
      border: 1px solid white;
      -webkit-transform: translate(0px, 6px);
      transform: translate(0px, 6px);
      opacity: 0;
      color: #999;
      transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
    .cover a:hover:after {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
      opacity: 1; }

.description {
  padding: 20px;
  width: 350px;
  display: inline-block; }
  .description .logo {
    max-width: 220px;
    max-height: 120px; }
  .description .title {
    margin-top: 2rem;
    font-size: 1.5rem; }
  #certificates .description .period {
    margin-top: 1rem;
    font-weight: bolder;
    line-height: 2rem; }
  .description .divider {
    line-height: 4rem; }
    .description .divider my-font-awesome {
      position: relative; }
      .description .divider my-font-awesome:before, .description .divider my-font-awesome:after {
        content: ' ';
        position: absolute;
        width: 75px;
        top: 0.5rem;
        height: 2px;
        background: black; }
      .description .divider my-font-awesome:before {
        left: -100px; }
      .description .divider my-font-awesome:after {
        left: 40px; }
  .description .achievements > *:not(:last-child) {
    margin-bottom: 0.5rem; }

.books {
  list-style: none;
  display: inline-block;
  width: 300px;
  height: 400px;
  vertical-align: top;
  padding: 0 25px; }
  .books li {
    position: relative;
    width: 300px;
    float: left;
    z-index: 1;
    margin: 0px 50px 40px 0;
    -webkit-perspective: 5000px;
            perspective: 5000px; }

.book {
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1800px;
          perspective: 1800px;
  transition: -webkit-transform 0.75s;
  transition: transform 0.75s; }
  .book > div {
    display: block;
    position: absolute;
    background-color: #597798;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .book h2 {
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px; }
  .book .front, .book .back {
    width: 300px;
    height: 400px;
    -webkit-backface-visibility: visible;
            backface-visibility: visible; }
    .book .front:after, .book .back:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      width: 3px;
      background: rgba(0, 0, 0, 0.06);
      box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1); }
  .book .front {
    -webkit-transform: translate3d(0, 0, 20px);
            transform: translate3d(0, 0, 20px);
    z-index: 10;
    color: #fff; }
    .book .front .title {
      padding: 0 20px 0 30px;
      margin: 2rem 0 1rem 0;
      word-break: break-word; }
      .book .front .title h2 {
        text-align: center;
        line-height: 1.2rem;
        padding: 0; }
      .book .front .title h3 {
        font-size: 0.75rem;
        text-transform: none;
        margin: 0; }
    .book .front .author {
      position: absolute;
      right: 0px;
      bottom: 0;
      padding: 0 20px 20px 0;
      font-size: 0.65rem;
      text-align: right; }
  .book .back {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
            transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 3px 0 0 3px; }
    .book .back p {
      color: #fff;
      font-size: 13px;
      padding: 40px;
      text-align: center;
      font-weight: 700; }
  .book .left, .book .right {
    width: 40px;
    left: -20px; }
  .book .left {
    height: 400px;
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg); }
    .book .left h2 {
      color: #fff;
      font-size: 15px;
      line-height: 40px;
      padding-right: 10px;
      text-align: right;
      width: 375px;
      height: 40px;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transform: rotate(90deg) translateY(-40px);
              transform: rotate(90deg) translateY(-40px); }
  .book .right {
    height: 390px;
    top: 5px;
    background-color: white;
    -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
            transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .book .bottom, .book .top {
    width: 295px;
    height: 40px;
    top: -15px;
    background-color: white;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .book .bottom {
    -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
            transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px); }
  .book .top {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg); }

@media only screen and (max-width: 1024px) {
  .chip.wide {
    width: 450px; }
  .books {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 480px) {
  .chip {
    max-width: 85%;
    padding: 5px;
    margin: 15px 5px; }
    .chip.wide {
      width: 85%; }
  .description {
    width: initial; }
  .books {
    display: none; } }