.pages {
  position: relative;
  margin: 0 -68px;
  padding: 0 68px; }

.page {
  color: white;
  min-height: 100vh; }
  .page.show .floater {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  .page.sticky .floater {
    position: fixed;
    top: 183px; }

.floater {
  position: absolute;
  padding: 2rem 1rem;
  max-width: 50vw;
  min-width: 50vw;
  min-height: 15rem;
  opacity: 0;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
  transition: 1s ease all;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform; }
  .floater > :not(.logo) {
    margin-left: 28rem; }
  .floater .logo {
    max-width: 27rem;
    position: absolute; }
  .floater .title {
    text-align: right;
    font-size: 2.5rem;
    font-family: Lobster; }
  .floater .period {
    font-weight: bolder;
    line-height: 2.5rem;
    text-align: right; }

.cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .cover.sticky {
    position: fixed; }
  .cover .coverpage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease; }
    .cover .coverpage.show {
      opacity: 1; }
  .cover .page1 {
    background-image: url(/images/background/academic0.jpg); }
  .cover .page2 {
    background-image: url(/images/background/academic1.jpg); }
  .cover .page3 {
    background-image: url(/images/background/academic2.jpg); }
  .cover .page4 {
    background-image: url(/images/background/academic3.jpg);
    transition: opacity 1s ease, -webkit-filter 2s ease, filter 2s ease; }
  .cover .blur {
    -webkit-filter: blur(10px); }