:host {
  display: block;
  height: 100%; }

.section {
  padding: 1px 68px;
  position: relative; }
  .section.dark {
    background: black; }
    .section.dark h1, .section.dark h2, .section.dark h3, .section.dark h4 {
      color: white; }

paper-scroll-header-panel {
  height: 100%; }

paper-toolbar {
  font-size: 1.3rem;
  color: white;
  fill: white;
  background-color: transparent; }
  paper-toolbar a {
    display: inline-block;
    margin: 0 4px; }
  paper-toolbar .top {
    margin-left: auto; }

paper-toolbar::shadow .toolbar-tools {
  margin: 0 56px; }

paper-scroll-header-panel::shadow #headerBg {
  background-image: url(/images/background/nz_national_park.jpg); }

paper-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: rgba(0, 0, 0, 0.7); }

paper-scroll-header-panel::shadow #headerContainer {
  z-index: 999; }

paper-scroll-header-panel::shadow #mainContainer {
  padding-top: 0px !important; }
  paper-scroll-header-panel::shadow #mainContainer.stop-scrolling {
    height: 100%;
    overflow: hidden; }

.title {
  margin-left: 0 !important;
  font-size: 3rem !important;
  vertical-align: middle;
  will-change: transform;
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow: visible !important; }

.title > span {
  font-weight: bolder;
  font-family: Lobster;
  font-size: 3.5rem;
  margin: 0 3px;
  color: #f4db33;
  transition: all 0.3s ease-out; }

paper-toolbar a {
  color: white; }
  paper-toolbar a:after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid white;
    -webkit-transform: translate(0px, 6px);
            transform: translate(0px, 6px);
    opacity: 0;
    color: #999;
    transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
  paper-toolbar a:hover:after {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.section-header {
  transition: all 1.5s ease;
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  top: 0px;
  opacity: 1; }
  .section-header.sticky {
    position: fixed; }
  .section-header.hide {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }

.academic {
  z-index: 10; }

@media only screen and (max-width: 1024px) {
  paper-toolbar::shadow .toolbar-tools {
    margin: 0; }
  paper-toolbar .indent {
    margin-left: 4px !important; }
  section {
    padding: 1px 20px 1px 20px !important; } }

@media only screen and (max-width: 480px) {
  section {
    padding: 1px 12px 1px 12px !important; } }