:host {
  display: block;
  position: relative; }

#chipSection {
  position: relative; }

#chipSection:not(.core-selected):not([animate]) {
  display: block !important;
  visibility: hidden; }

.chip-container {
  text-align: center; }

.chip {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  margin: 4px;
  overflow: hidden;
  text-align: start;
  vertical-align: top;
  max-width: 200px;
  background-color: #fff;
  border: 1px solid white;
  cursor: pointer; }
  .chip:hover .chip-cover {
    opacity: 0.7; }

.chip-cover {
  opacity: 0;
  transition: 0.5s all ease;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  top: 10%;
  font-size: 3rem;
  color: white; }

.chip-top {
  width: 200px;
  height: 200px;
  background-size: cover; }

.chip-bottom {
  padding: 8px;
  line-height: 1.5; }

.chip-header {
  font-size: 1.2rem;
  font-weight: bold; }

.chip-subheader {
  font-size: 0.8rem; }

#details {
  padding: 0px 10% 0; }

.card {
  height: 400px;
  border-radius: 3px;
  text-align: start;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-left {
  position: absolute;
  width: 200px;
  height: 400px; }

.card-right {
  position: relative;
  margin-left: 200px;
  padding: 24px; }

.card-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px; }

.card-header {
  font-size: 2em; }

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer; }