@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato|Dosis|Lobster|Roboto:100,400,500);
body {
  background: #fafafa;
  font-family: Lato, "Helvetica Neue", Helvetica, "Nanum Gothic", Arial, sans-serif;
  color: #333; }
  body.mobile {
    height: 101vh !important; }

#loader {
  position: absolute;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  top: 45%;
  font-size: 2rem;
  vertical-align: middle;
  transition: opacity 0.15s ease; }

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0; }

html, body {
  height: 100%;
  margin: 0; }

.content {
  padding: 100px; }